* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}

.header {
    display: flex;
    background-color: #15ffbc;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    align-items: space-evenly;
}
.burguer {
    margin: 20px;
    font-size: 30px;
}
.qui {
    margin: 20px;
    font-size: 20px;
}
.image-car {
    width: 100%;
}
.image-car img {
    width: 100%;
}
.lorem {
    background-color: #15ffbc;
}
.lorem {
    display: flex;
    text-transform: capitalize;
    flex-direction: column;
    align-items: center;
}
.lorem-ipsum__amet {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    margin: 15px;
}
.equis {
    font-weight: bold;
    align-items: center;
}
.mustache {
    width: 50px;
    margin-top: 40px;
}
