* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}

.nav-mobile {
    display: flex;
    background-color: #15ffbc;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-evenly;

    &__elm {
        display: flex;
        margin: 20px;
        font-size: 30px;
        text-decoration: none;
    }
}

.size-logo {
    width: 80px;
}
.burguer {
    font-size: 2rem;
    color: black;
}
main {
    background-color: #15ffbc;
}
.images {
    width: 100%;
}
.main {
    width: 100%;
}
.main-car--images {
    width: 100%;
}
.images-mustache {
    width: 50px;
    margin-top: 40px;
}
.lorem1 {
    display: flex;
    padding: 20px;
    font-family: oswald;
    letter-spacing: 5px;
    text-transform: uppercase;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.lorem-ipsum__amet {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    margin: 15px;
}
.equis {
    font-weight: bold;
    align-items: center;
}
.lorem2-images {
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    &__ipsum2 {
        font-family: oswald;
        letter-spacing: 5px;
    }

    &__dolor {
        font-size: 10px;
        letter-spacing: 3px;
        text-decoration-line: underline;
    }
}
.p-lorem {
    display: flex;
    font-family: oswald;
    letter-spacing: 3px;
    justify-content: center;
}
.footer {
    display: flex;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer__header-title {
    color: #15ffbc;
}
.icon {
    width: 100px;
}
