* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}

.nav-mobile {
    display: flex;
    background-color: #15ffbc;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-evenly;

    &__elm {
        display: flex;
        margin: 20px;
        font-size: 30px;
        text-decoration: none;
    }
}
.nav-desktop {
    display: none;
}
.size-logo {
    width: 120px;
}
.burguer {
    font-size: 2rem;
    color: black;
}
.qui {
    font-size: 15px;
}
main {
    background-color: #15ffbc;
}
.main {
    width: 100%;
}
.main-car--images {
    width: 100%;
}
video {
    display: none;
}
.images-mustache {
    width: 50px;
    margin-top: 40px;
}
.images {
    width: 100%;
}
.lorem1 {
    display: flex;
    padding: 20px;
    font-family: oswald;
    letter-spacing: 5px;
    text-transform: uppercase;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.lorem-ipsum__amet {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    margin: 15px;
}
.equis {
    font-weight: bold;
    align-items: center;
}
.lorem2-images {
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    &__ipsum2 {
        font-family: oswald;
        letter-spacing: 5px;
    }

    &__dolor {
        font-size: 10px;
        letter-spacing: 3px;
        text-decoration-line: underline;
    }
}
.p-lorem {
    display: flex;
    font-family: oswald;
    letter-spacing: 3px;
    justify-content: center;
}
.footer {
    display: flex;
    background-color: black;
    color: white;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer__header-title {
    color: #15ffbc;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-between;
    font-weight: lighter;
    font-family: oswald;
    font-size: 20px;
    letter-spacing: 5px;
    gap: 1rem;

    &--crossed {
        text-decoration: line-through;
        text-decoration-color: salmon;
    }
    &--equis {
        font-size: 10px;
        justify-content: center;
        padding: 25px;
    }
}
.footer-words {
    color: white;
    font-family: open-sans;
    font-size: 20px;
    &--velit {
        color: salmon;
        text-decoration: line-through;
        text-decoration-color: salmon;
    }
}
.footer__items {
    padding: 10px;
    &--title {
        display: flex;
        justify-content: center;
        color: white;
        font-size: 15px;
        font-weight: normal;
    }
    &--green {
        display: flex;
        justify-content: center;
        color: #15ffbc;
        padding: 30px;
    }
    &--socialmedia {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: space-between;
    }
}
.icon {
    display: flex;
    width: 4rem;
    align-content: space-between;
    padding: 10px;
}

@media (min-width: 600px) {
    .nav-desktop {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: space-between;
        gap: 20px;
        padding: 20px;
        font-family: oswald;
        color: black;
        letter-spacing: 5px;
        background-color: #15ffbc;
    }
    .nav-mobile {
        display: none;
    }
    .main-video {
        display: flex;
        width: 100%;
    }
    .main-car--images {
        display: none;
    }
}
